body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    top:0;
    height: 110px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
}

footer {
    border-top: solid thin;
    text-align: center;
    bottom: 0;
    height: 10px;
}

menu {
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

nav {
    top:0;
    height:21%;
    text-align: center;
    background-color: #6c757d;
    justify-content: center; 
    border-bottom: solid thin;
}

menu .nav-item {
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

div {
    margin: 0em;
}

button {
    margin: 2em;
}

div.recipe-card {
    flex: 1;
    display: flex;
    flex-direction: row !important;
}

images{
    max-width: .1vw;
    max-height: .1vw;
}

section.extras{
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

@media (max-height: 100px) {
    header {
        display: none;
    }
    footer {
        display:none;
    }
    main {
        flex: 1 100vh;
    }
}