body {
    display: flex;
    flex-direction: column;
    flex: 80vh;
}

header {
    flex: 10vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em;
}

footer {
    flex: 10vh;
    border-top: solid thin;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
    border-bottom: solid thin;
}

menu .nav-item {
    padding: 0 0.5em;
    margin: 1em;
}

div {
    margin: 1em;
}

button {
    margin: 2em;
}

@media (max-height: 400px) {
    header {
        display: none;
    }
    footer {
        display:none;
    }
    main {
        flex: 1 100vh;
    }
}